<h3>User Login</h3>
<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>

<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    
    <div class="form-group">
        <label for="username">Username</label><br>
        <input #username="ngModel" required type="text" name="username" class="form-control" ngModel >
        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
            <p *ngIf="username.hasError('required')">Username required</p>
        </div>
    </div>

    <pre></pre>

    <div class="form-group">
        <label for="password">Password</label><br>
        <input #password="ngModel" required type="password" name="password" class="form-control" ngModel >   
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
            <p *ngIf="password.hasError('required')">Password required</p>
        </div>    
    </div>
    
    <button class="btn btn-primary" type="submit">Login</button>
    <a routerLink="/signup" routerLinkActive="active" class="btn btn-primary" id="regBtn">Signup</a>

</form>
